footer{
    display: inline-block;
    position: relative;
    width: 100%;
    height:max-content;
    margin:0 0;
    text-align: center;
    background: linear-gradient(
        230deg,
        rgb(11, 55, 120)0%,
        rgb(80, 136, 219)70%
    );
}
.social-link{
            a{
                display: inline-block;
                min-height: 40px;
                width: 40px;
                background-color: rgba(255, 255, 255, 0.2);
                margin: 10px 10px 10px 0;
                text-align: center;
                line-height: 40px;
                border-radius: 50%;
                color: aliceblue;
                transition: all .5s ease;

            }
}


.social-link {
    a:hover{
        background-color: #1a5abb;
    }
}