header{
    position: fixed;
    width: 100%;
    z-index: 1;
        .navbar{
            background: linear-gradient(
                230deg,
                rgb(11, 55, 120)0%,
                rgb(80, 136, 219)70%
                
            );
        }
}