main{
    display:flex;
    flex: 1;
    flex-direction: column;
    position:unset;
    justify-content: space-around;
    justify-items: center;
    margin-top: 0;
    padding-top: 55px;
    padding-bottom: 1rem;
    min-height: fit-content;
        .imagendelindex{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            min-width: 100%;
            align-items: center;
            background-color: rgb(30, 24, 66);
            padding: 20px;
            margin-bottom: 25px;
        }
        .finalmain {

            display: flex;
            padding: 10px;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            
        
        }
        .info_main{
            display: flex;
            flex-direction: row;
            padding-bottom: 30px;
            text-align: center; 
            justify-content: center;
        }
        .info {
            width:auto;
            height:fit-content;
            padding: 10px 10px;
            margin: 10px;
            background-image: radial-gradient(circle, rgb(85, 5, 114), rgb(182, 67, 232));
            border-radius: 25px;
            text-align: center;
            color: aliceblue;

        
        }
    }
    @media (max-width: 800px) {
        .info_main{
            flex-wrap: wrap;
        }
    }
    
    
    
    

