@import 'variables';
@import 'header';
@import 'footer';
@import 'main-index';
@import 'carousel-index';
@import 'main-nosotros';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: white;
    border-radius: 50px;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    font-family: Arial, sans-serif;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
    z-index: 1000;
  }
  
  .whatsapp-float:hover {
    background-color: #128C7E;
    transform: scale(1.1);
  }
  
  .whatsapp-icon {
    width: 30px;
    height: 30px;
    margin-right: 1px;
  }
  
  .whatsapp-text {
    display: block;
  }
  /* Media query para dispositivos móviles */
@media (max-width: 480px) {
    .whatsapp-float {
      bottom: 15px;
      right: 15px;
      padding: 8px 15px;
    }
    
    .whatsapp-icon {
      width: 25px;
      height: 25px;
    }
    
    .whatsapp-text {
      font-size: 14px;
    }
  }
  

